# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
Medi_Deliver/pubspec.lock
Medi_Deliver/.flutter-plugins-dependencies
Medi_Deliver/pubspec.yaml
medi_deliver/.dart_tool/flutter_build/a8178376c1c835051115a2c4d87125b8/.filecache
medi_deliver/.dart_tool/flutter_build/a8178376c1c835051115a2c4d87125b8/debug_android_application.stamp
