.container{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500; 
  font-size: 16px;
  line-height: 19px;
  /* text-transform: capitalize; */
  color: #A2A2BF;;
  display: flex;
  justify-content: center;
  padding-right: 50px;
}

.ant-table{
  color: aquamarine;
}

  .ant-table-thead{
    color: aquamarine;
    font-weight: 500;
  }
  .ant-table-cell{
    color: #2D3436
    
  }
  .as{
    color:#2692df
  }

